# .NET
bin/
obj/
*.user
*.suo
*.dotsettings
*.resharper
packages/
*.dll
*.exe
*.pdb

# Backend
appsettings.Development.json
appsettings.*.json

# Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.*.local

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
