**/bin/
**/obj/
**/node_modules/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/.git/
**/.gitignore
**/docker-compose.yml
**/docker-compose*.yml
**/.DS_Store
**/logs/
**/*.log
**/TestResults/
**/.editorconfig
**/.editorconfig.txt
**/.github/
**/.gitlab-ci.yml
**/.azure-pipelines.yml
**/Dockerfile*
**/.dockerignore
